/*button css*/
.wrap {
  position: relative;
  margin: auto;
  margin-top: 5%;
  width: 191px;
  text-align: center;
}
.wrap button {
  display: block;
  height: 60px;
  padding: 0;
  width: 191px;
  background: none;
  margin: auto;
  border: 2px solid #1ECD97;
  font-size: 18px;
  font-family: "Lato";
  color: #1ECD97;
  cursor: pointer;
  outline: none;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s;
  -o-transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s;
  -webkit-transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s;
  transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s;
}
.wrap button:hover {
  background: #1ECD97;
  color: white;
}
.wrap img {
  position: absolute;
  top: 11px;
  display: none;
  left: 71.5px;
  -moz-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
  transform: scale(0.6, 0.6);
}
.wrap svg {
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  /* @include rotate(270deg); */
  position: absolute;
  top: -2px;
  left: 62px;
  display: none;
}
.wrap svg .circle_2 {
  stroke-dasharray: 0 200;
}
.wrap svg .fill_circle {
  -moz-animation: fill-stroke 2s 0.4s linear forwards;
  -webkit-animation: fill-stroke 2s 0.4s linear forwards;
  animation: fill-stroke 2s 0.4s linear forwards;
}
.wrap .circle {
  width: 60px;
  /* border: none; */
}
.wrap .circle:hover {
  background: none;
}
.wrap .filled {
  background: #1ECD97;
  color: white;
  line-height: 60px;
  font-size: 160%;
}

footer p {
  color: #738087;
  margin-top: 100px;
  font-size: 18px;
  line-height: 28px;
}

@-moz-keyframes fill-stroke {
  0% {
    stroke-dasharray: 0 200;
  }
  20% {
    stroke-dasharray: 20 200;
  }
  40% {
    stroke-dasharray: 30 200;
  }
  50% {
    stroke-dasharray: 90 200;
  }
  70% {
    stroke-dasharray: 120 200;
  }
  90% {
    stroke-dasharray: 140 200;
  }
  100% {
    stroke-dasharray: 182 200;
  }
}
@-webkit-keyframes fill-stroke {
  0% {
    stroke-dasharray: 0 200;
  }
  20% {
    stroke-dasharray: 20 200;
  }
  40% {
    stroke-dasharray: 30 200;
  }
  50% {
    stroke-dasharray: 90 200;
  }
  70% {
    stroke-dasharray: 120 200;
  }
  90% {
    stroke-dasharray: 140 200;
  }
  100% {
    stroke-dasharray: 182 200;
  }
}
@keyframes fill-stroke {
  0% {
    stroke-dasharray: 0 200;
  }
  20% {
    stroke-dasharray: 20 200;
  }
  40% {
    stroke-dasharray: 30 200;
  }
  50% {
    stroke-dasharray: 90 200;
  }
  70% {
    stroke-dasharray: 120 200;
  }
  90% {
    stroke-dasharray: 140 200;
  }
  100% {
    stroke-dasharray: 182 200;
  }
}
a, p {
  line-height: 1.6em;
}

a {
  color: #738087;
}
